/* SECTION LOGIN FORM --------------------------------*/

#section-form-login {
  height: 100vh;
  width: 100vw;
  background: var(--color-secundaria);
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-login {
  background-color: var(--color-terceira);
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
  border-radius: 5px;
  gap: 30px;
}

#container-header-form h1 {
  text-transform: uppercase;
  border-left: 1px solid var(--color-primaria);
  padding: 0px 10px;
  font-size: 28pt;
  font-weight: 300;
}

/* SECTION LOGIN FORM --------------------------------*/

#container-login-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.container-info {
  opacity: 0.5;
  font-size: 12pt;
  display: flex;
  align-items: center;
  transition: 1.3s;
}

.container-info:hover{
  opacity: 1;
}

.container-info img {
  width: 18px;
  margin-right: 10px;
}

.container-info a {
  color: #01c38d;
}
