/* VARIAVEIS GLOBAIS --------------------------------*/

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-quarta);
}

:root {
  --color-primaria: #01c38d;
  --color-secundaria: #191e29;
  --color-terceira: #202736;
  --color-quarta: #f6f6f6;
  --color-gradiend: linear-gradient(
    90deg,
    rgba(1, 195, 141, 1) 0%,
    rgb(1, 131, 94) 100%
  );
}

/* SECTION LOGIN FORM --------------------------------*/

#section-form-login {
  height: 100vh;
  width: 100%;
  background: var(--color-secundaria);
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-login {
  background-color: var(--color-terceira);
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  border-radius: 5px;
  gap: 30px;
}

#container-header-form h1 {
  text-transform: uppercase;
  border-left: 1px solid var(--color-primaria);
  padding: 0px 10px;
  font-size: 28pt;
  font-weight: 300;
}

.container-input-login input {
  padding: 15px 20px;
  width: 100%;
  outline: none;
  font-size: 11pt;
  margin-bottom: 30px;
  margin-top: 5px;
  background: var(--color-secundaria);
  border: none;
}

label {
  display: flex;
  flex-direction: column;
}

/* STYLE BUTTON --------------------------------*/

.style-btn {
  width: 260px;
  padding: 15px 0px;
  align-self: center;
  color: var(--color-quarta);
  background: var(--color-secundaria);
  border: 1px solid var(--color-primaria);
  font-size: 13pt;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.6;
  transition: 1s;
}

.style-btn:hover {
  transition: 1s;
  opacity: 1;
  background: var(--color-primaria);
}

/* SECTION LOGIN FORM --------------------------------*/

#container-header-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.container-info {
  opacity: 0.5;
  font-size: 12pt;
  display: flex;
  align-items: center;
}

.container-info img {
  width: 25px;
  margin-right: 10px;
}

.container-info a {
  color: #01c38d;
}
