/* VARIAVEIS GLOBAIS --------------------------------*/

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-quarta);
}

:root {
  --color-primaria: #01c38d;
  --color-secundaria: #191e29;
  --color-terceira: #202736;
  --color-quarta: #f6f6f6;
  --color-gradiend: linear-gradient(
    90deg,
    rgba(1, 195, 141, 1) 0%,
    rgb(1, 131, 94) 100%
  );
}

/* SECTION OPTION  --------------------------------*/
#section-option {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-secundaria);
  align-items: center;
}

.container-card-option {
  width: 30%;
  max-width: 400px;
  height: 600px;
  background: var(--color-terceira);
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;

  transition: 1.3s;
  transform: scale(1, 1);
}

.container-card-option:hover {
  transition: 1.3s;
  transform: scale(1.1, 1.1);
}

.box-img {
  padding: 50px;
  opacity: 0.7;
  border-bottom: 3px solid var(--color-primaria);
}

.box-img img {
  width: 150px;
}

.box-info h2 {
  font-size: 2.3rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 35px;
  margin-bottom: 1.5rem;
}

.box-info p {
  padding: 20px;
  height: 60px;
}

.style-btn {
  width: 260px;
  padding: 15px 0px;
  align-self: center;
  color: var(--color-quarta);
  background: var(--color-secundaria);
  border: 1px solid var(--color-primaria);
  font-size: 13pt;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.6;
  transition: 1s;
}

.style-btn:hover {
  transition: 1s;
  opacity: 1;
  background: var(--color-primaria);
}
